site_name: Exams
site_url: http://127.0.0.1:8000

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.footer
    - toc.follow
    - header.autohide
    - search.highlight
    - search.suggest
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Light mode
  font:
    text: Roboto
    code: JetBrains Mono

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true
